Repository firehol/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @Ferroin, @stelfrag, @underhood, @thiagoftsm, @vlvkobal, @mfundul, @ilyam8, @jacekkolasa, @ccremer, @simonnagl, @joelhans, @thiagofsm, @netdatabot

spelling: should
  docs/guides/python-collector.md
Owners: @joelhans

spelling: milliseconds
  collectors/statsd.plugin/README.md
Owners: @joelhans

spelling: interface
  collectors/proc.plugin/proc_net_dev.c
Owners: @vlvkobal, @mfundul

spelling: separately
  aclk/aclk_tx_msgs.c
Owners: @stelfrag, @underhood

spelling: traefik
  collectors/COLLECTORS.md
Owners: @joelhans

spelling: instance
  packaging/installer/kickstart-static64.sh
  packaging/installer/kickstart.sh
Owners: @Ferroin

spelling: length
  aclk/aclk_query.c
Owners: @stelfrag, @underhood

spelling: structure
  collectors/ebpf.plugin/ebpf_apps.c
  collectors/ebpf.plugin/ebpf_cachestat.c
Owners: @thiagoftsm, @vlvkobal

spelling: monitoring
  collectors/node.d.plugin/sma_webbox/README.md
Owners: @joelhans

spelling: noise
  docs/guides/monitor/statsd.md
Owners: @joelhans

spelling: popcorn
  aclk/aclk.c
Owners: @stelfrag, @underhood

spelling: unsupported
  aclk/aclk_rx_msgs.c
Owners: @stelfrag, @underhood

spelling: unnecessary
  CHANGELOG.md
Owners: @netdatabot, @Ferroin

Initial version of release build workflow.
  .github/workflows/release-build.yml
Owners: @Ferroin

Improve storage number unpacking by using a lookup table.
  libnetdata/storage_number/storage_number.c
Owners: @thiagofsm, @mfundul

Consolidate static and dist build CI.
  .github/workflows/build-and-install.yml
  .github/workflows/checks.yml
  .github/workflows/release-build.yml
Owners: @Ferroin

Typo fixes.
  .github/workflows/release-build.yml
Owners: @Ferroin

Ensure dependencies are present for dist tarball build.
  .github/workflows/release-build.yml
Owners: @Ferroin

Further typo fixes.
  .github/workflows/release-build.yml
Owners: @Ferroin

Remove ARCHIVE state globally and force check for obsolete hosts on child connect
  aclk/legacy/agent_cloud_link.c
  daemon/analytics.c
  daemon/global_statistics.c
  database/rrd.h
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  database/sqlite/sqlite_functions.c
  health/health.c
  streaming/rrdpush.c
  web/api/formatters/charts2json.c
  web/api/web_api_v1.c
Owners: @stelfrag, @underhood, @thiagoftsm, @mfundul, @vlvkobal

Do not rely on the SN_EXISTS bit flag to detect empty values.
  daemon/unit_test.c
  database/rrddim.c
  database/rrdset.c
  exporting/tests/test_exporting_engine.c
  libnetdata/storage_number/storage_number.c
  libnetdata/storage_number/storage_number.h
  libnetdata/storage_number/tests/test_storage_number.c
Owners: @thiagoftsm, @mfundul, @vlvkobal, @thiagofsm

Add code for DEB repository config packages.
  .gitignore
  packaging/repoconfig/Makefile
  packaging/repoconfig/build-debian.sh
  packaging/repoconfig/debian/changelog
  packaging/repoconfig/debian/compat
  packaging/repoconfig/debian/control
  packaging/repoconfig/debian/copyright
  packaging/repoconfig/debian/rules
  packaging/repoconfig/debian/source/format
  packaging/repoconfig/netdata.list.in
Owners: @Ferroin

Add code for RPM repository config packages.
  packaging/repoconfig/build-deb.sh
  packaging/repoconfig/build-rpm.sh
  packaging/repoconfig/debian/control
  packaging/repoconfig/netdata-edge.repo.centos
  packaging/repoconfig/netdata-edge.repo.fedora
  packaging/repoconfig/netdata-edge.repo.suse
  packaging/repoconfig/netdata-repo.spec
  packaging/repoconfig/netdata.repo.centos
  packaging/repoconfig/netdata.repo.fedora
  packaging/repoconfig/netdata.repo.suse
Owners: @Ferroin

Add workflow to build and upload repoconfig packages.
  .github/workflows/repoconfig-packages.yml
Owners: @Ferroin

Added repoconfig repository to repoconfig packages.
  packaging/repoconfig/Makefile
  packaging/repoconfig/debian/control
  packaging/repoconfig/debian/rules
  packaging/repoconfig/netdata-edge.repo.centos
  packaging/repoconfig/netdata-edge.repo.fedora
  packaging/repoconfig/netdata-edge.repo.suse
  packaging/repoconfig/netdata-repo.spec
  packaging/repoconfig/netdata.list.in
  packaging/repoconfig/netdata.repo.centos
  packaging/repoconfig/netdata.repo.fedora
  packaging/repoconfig/netdata.repo.suse
Owners: @Ferroin

Use base images instead of dedicated package builders.
  .github/workflows/repoconfig-packages.yml
Owners: @Ferroin

Fix boolean value for ProtectControlGroups
  system/netdata.service.in
Owners: @Ferroin

Don0t prompt during DEB package builds.
  packaging/repoconfig/build-deb.sh
Owners: @Ferroin

Fix typos.
  packaging/repoconfig/debian/rules
Owners: @Ferroin

Added ARM binary package builds to CI.
  .github/workflows/packaging.yml
Owners: @Ferroin

Add Fedora 34 32-bit ARM package build.
  .github/workflows/packaging.yml
Owners: @Ferroin

Update cmake options for LWS.
  packaging/bundle-lws.sh
Owners: @Ferroin

Tidy-up workflow so it runs faster.
  .github/workflows/packaging.yml
Owners: @Ferroin

Package build process tweaks.
  .github/workflows/docker.yml
  .github/workflows/packaging.yml
Owners: @Ferroin

Add Debian 11 (Bullseye) to CI.
  .github/workflows/build-and-install.yml
  .github/workflows/packaging.yml
  .github/workflows/updater.yml
Owners: @Ferroin

Fix handling of Debian 11 package builds.
  .github/workflows/packaging.yml
  packaging/Dockerfile.packager
Owners: @Ferroin

Use correct Docker image for Debian 11.
  .github/workflows/build-and-install.yml
  .github/workflows/updater.yml
Owners: @Ferroin

Fix build dependencies for Debian 11.
  contrib/debian/control.xenial
Owners: @Ferroin

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @Ferroin

# Ownership by directory structure
.travis/ @Ferroin
.github/ @Ferroin
aclk/ @stelfrag @underhood
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @Ferroin
contrib/debian @Ferroin
collectors/ @vlvkobal @mfundul
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal
collectors/macos.plugin/ @vlvkobal @thiagoftsm
collectors/node.d.plugin/ @jacekkolasa
collectors/node.d.plugin/fronius/ @ccremer
collectors/node.d.plugin/snmp/ @jacekkolasa
collectors/node.d.plugin/stiebeleltron/ @ccremer
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @mfundul
database/ @mfundul @thiagoftsm
docs/ @joelhans
health/ @thiagoftsm @vlvkobal
health/health.d/ @thiagoftsm @vlvkobal
health/notifications/ @Ferroin @thiagoftsm
libnetdata/ @thiagofsm @mfundul
packaging/ @Ferroin
registry/ @jacekkolasa
streaming/ @thiagoftsm @vlvkobal
system/ @Ferroin
web/ @thiagoftsm @mfundul @vlvkobal
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin
*.md @joelhans
Dockerfile* @Ferroin

# Ownership of specific files
.gitignore @Ferroin
.travis.yml @Ferroin
.lgtm.yml @Ferroin
.eslintrc @Ferroin
.eslintignore @Ferroin
.csslintrc @Ferroin
.codeclimate.yml @Ferroin
.codacy.yml @Ferroin
.yamllint.yml @Ferroin
netdata.spec.in @Ferroin
netdata-installer.sh @Ferroin
package.json @jacekkolasa @Ferroin
packaging/version @netdatabot @Ferroin

LICENSE.md @joelhans @Ferroin
CHANGELOG.md @netdatabot @Ferroin
