Repository firehol/netdata, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ktsaou, @Ferroin, @stelfrag, @underhood, @thiagoftsm, @vlvkobal, @mfundul, @ilyam8, @jacekkolasa, @ccremer, @simonnagl, @joelhans, @thiagofsm, @netdatabot

WIP: add filebeat collector
  collectors/python.d.plugin/filebeat/filebeat.chart.py
  collectors/python.d.plugin/filebeat/filebeat.conf
Owners: @ilyam8

add filebeat collector
  collectors/python.d.plugin/filebeat/Makefile.inc
  collectors/python.d.plugin/filebeat/README.md
  collectors/python.d.plugin/filebeat/filebeat.chart.py
Owners: @ilyam8, @joelhans

remove assert from filebeat collector
  collectors/python.d.plugin/filebeat/filebeat.chart.py
Owners: @ilyam8

Health: add specific logging for alarm execution without debugging
  health/health.c
  libnetdata/log/log.c
Owners: @thiagoftsm, @vlvkobal, @thiagofsm, @mfundul

Health: fix logs formatting
  health/health.c
Owners: @thiagoftsm, @vlvkobal

Health: add specific logging for alarm execution without debugging
  daemon/main.c
  health/health.c
  health/health.h
  libnetdata/log/log.c
  libnetdata/log/log.h
Owners: @thiagoftsm, @mfundul, @vlvkobal, @thiagofsm

Health: typo while redoing lost changes
  libnetdata/log/log.c
Owners: @thiagofsm, @mfundul

Health: add mutex to health log
  libnetdata/log/log.c
Owners: @thiagofsm, @mfundul

Don't write updater log under root
  packaging/installer/netdata-updater.sh
Owners: @Ferroin

spelling: aclk
  aclk/aclk.c
Owners: @stelfrag, @underhood

spelling: celsius
  docs/guides/python-collector.md
Owners: @joelhans

spelling: backward
  aclk/aclk.h
Owners: @stelfrag, @underhood

spelling: bandwidth
  collectors/ebpf.plugin/ebpf_socket.c
Owners: @thiagoftsm, @vlvkobal

spelling: dogstatsd
  collectors/statsd.plugin/README.md
Owners: @joelhans

spelling: communications
  aclk/aclk.c
Owners: @stelfrag, @underhood

spelling: details
  web/gui/dashboard_info.js
Owners: @jacekkolasa

spelling: cachestat
  collectors/ebpf.plugin/ebpf_cachestat.h
Owners: @thiagoftsm, @vlvkobal

spelling: container
  claim/README.md
Owners: @joelhans

spelling: fireqos
  collectors/python.d.plugin/web_log/README.md
  collectors/tc.plugin/tc-qos-helper.sh.in
  packaging/installer/install-required-packages.sh
Owners: @joelhans, @vlvkobal, @mfundul, @Ferroin

spelling: either
  docs/guides/python-collector.md
Owners: @joelhans

spelling: firstchild
  web/gui/dashboard.js
  web/gui/src/dashboard.js/main.js
Owners: @jacekkolasa

spelling: granularity
  docs/guides/monitor/kubernetes-k8s-netdata.md
Owners: @joelhans

spelling: global
  collectors/ebpf.plugin/ebpf_sync.c
  collectors/ebpf.plugin/ebpf_sync.h
Owners: @thiagoftsm, @vlvkobal

spelling: hddtemp
  CHANGELOG.md
Owners: @netdatabot, @Ferroin

spelling: http
  collectors/statsd.plugin/k6.conf
Owners: @vlvkobal, @mfundul

spelling: hustle
  docs/guides/monitor/statsd.md
Owners: @joelhans

spelling: immediately
  aclk/aclk.c
Owners: @stelfrag, @underhood

spelling: initializes
  docs/anonymous-statistics.md
Owners: @joelhans

spelling: monitor
  collectors/ebpf.plugin/README.md
  collectors/ebpf.plugin/ebpf.d.conf
Owners: @joelhans, @thiagoftsm, @vlvkobal

spelling: response
  aclk/aclk_rx_msgs.c
Owners: @stelfrag, @underhood

spelling: syntax
  CHANGELOG.md
Owners: @netdatabot, @Ferroin

spelling: satisfied
  aclk/aclk.c
Owners: @stelfrag, @underhood

spelling: string
  aclk/aclk_tx_msgs.c
Owners: @stelfrag, @underhood

spelling: maximum
  collectors/statsd.plugin/README.md
Owners: @joelhans

spelling: successful
  aclk/aclk.c
Owners: @stelfrag, @underhood

spelling: return
  docs/guides/python-collector.md
Owners: @joelhans

spelling: processes
  docs/guides/monitor/lamp-stack.md
Owners: @joelhans

spelling: quick
  CHANGELOG.md
Owners: @netdatabot, @Ferroin

spelling: qos
  aclk/aclk.c
Owners: @stelfrag, @underhood

spelling: modified
  aclk/aclk.c
Owners: @stelfrag, @underhood

.github/CODEOWNERS:

# Files which shouldn't be changed manually are owned by @netdatabot.
# This way we prevent modifications which will be overwriten by automation.

# Global (default) code owner
* @ktsaou @Ferroin

# Ownership by directory structure
.travis/ @Ferroin
.github/ @Ferroin
aclk/ @stelfrag @underhood
backends/ @thiagoftsm @vlvkobal
backends/graphite/ @thiagoftsm @vlvkobal
backends/json/ @thiagoftsm @vlvkobal
backends/opentsdb/ @thiagoftsm @vlvkobal
backends/prometheus/ @vlvkobal @thiagoftsm
build/ @Ferroin
contrib/debian @Ferroin
collectors/ @vlvkobal @mfundul
collectors/charts.d.plugin/ @ilyam8 @Ferroin
collectors/freebsd.plugin/ @vlvkobal @thiagoftsm
collectors/ebpf.plugin/ @thiagoftsm @vlvkobal
collectors/macos.plugin/ @vlvkobal @thiagoftsm
collectors/node.d.plugin/ @jacekkolasa
collectors/node.d.plugin/fronius/ @ccremer
collectors/node.d.plugin/snmp/ @jacekkolasa
collectors/node.d.plugin/stiebeleltron/ @ccremer
collectors/python.d.plugin/ @ilyam8
collectors/cups.plugin/ @simonnagl @vlvkobal @thiagoftsm
exporting/  @vlvkobal @thiagoftsm
daemon/ @thiagoftsm @mfundul
database/ @mfundul @thiagoftsm
docs/ @joelhans
health/ @thiagoftsm @vlvkobal
health/health.d/ @thiagoftsm @vlvkobal
health/notifications/ @Ferroin @thiagoftsm
libnetdata/ @thiagofsm @mfundul
packaging/ @Ferroin
registry/ @jacekkolasa
streaming/ @thiagoftsm @vlvkobal
system/ @Ferroin
web/ @thiagoftsm @mfundul @vlvkobal
web/gui/ @jacekkolasa

# Ownership by filetype (overwrites ownership by directory)
*.am @Ferroin
*.md @joelhans
Dockerfile* @Ferroin

# Ownership of specific files
.gitignore @Ferroin
.travis.yml @Ferroin
.lgtm.yml @Ferroin
.eslintrc @Ferroin
.eslintignore @Ferroin
.csslintrc @Ferroin
.codeclimate.yml @Ferroin
.codacy.yml @Ferroin
.yamllint.yml @Ferroin
netdata.spec.in @Ferroin
netdata-installer.sh @Ferroin
package.json @jacekkolasa @Ferroin
packaging/version @netdatabot @Ferroin

LICENSE.md @joelhans @Ferroin
CHANGELOG.md @netdatabot @Ferroin
