Repository firehol/netdata, changes with the labels that .github/labeler.yml gives for each.
All labels: ACLK, area/backends, area/exporting, area/build, area/ci, area/collectors, area/daemon, area/database, area/docs, area/external/python, area/external, area/health, area/packaging, area/registry, area/streaming, area/tests, area/web

Remove ARCHIVE state globally and force check for obsolete hosts on child connect
  aclk/legacy/agent_cloud_link.c
  daemon/analytics.c
  daemon/global_statistics.c
  database/rrd.h
  database/rrddim.c
  database/rrdhost.c
  database/rrdset.c
  database/sqlite/sqlite_functions.c
  health/health.c
  streaming/rrdpush.c
  web/api/formatters/charts2json.c
  web/api/web_api_v1.c
Labels: none

Do not rely on the SN_EXISTS bit flag to detect empty values.
  daemon/unit_test.c
  database/rrddim.c
  database/rrdset.c
  exporting/tests/test_exporting_engine.c
  libnetdata/storage_number/storage_number.c
  libnetdata/storage_number/storage_number.h
  libnetdata/storage_number/tests/test_storage_number.c
Labels: area/tests

Add code for DEB repository config packages.
  .gitignore
  packaging/repoconfig/Makefile
  packaging/repoconfig/build-debian.sh
  packaging/repoconfig/debian/changelog
  packaging/repoconfig/debian/compat
  packaging/repoconfig/debian/control
  packaging/repoconfig/debian/copyright
  packaging/repoconfig/debian/rules
  packaging/repoconfig/debian/source/format
  packaging/repoconfig/netdata.list.in
Labels: area/packaging

Add code for RPM repository config packages.
  packaging/repoconfig/build-deb.sh
  packaging/repoconfig/build-rpm.sh
  packaging/repoconfig/debian/control
  packaging/repoconfig/netdata-edge.repo.centos
  packaging/repoconfig/netdata-edge.repo.fedora
  packaging/repoconfig/netdata-edge.repo.suse
  packaging/repoconfig/netdata-repo.spec
  packaging/repoconfig/netdata.repo.centos
  packaging/repoconfig/netdata.repo.fedora
  packaging/repoconfig/netdata.repo.suse
Labels: area/packaging

Add workflow to build and upload repoconfig packages.
  .github/workflows/repoconfig-packages.yml
Labels: area/ci

Added repoconfig repository to repoconfig packages.
  packaging/repoconfig/Makefile
  packaging/repoconfig/debian/control
  packaging/repoconfig/debian/rules
  packaging/repoconfig/netdata-edge.repo.centos
  packaging/repoconfig/netdata-edge.repo.fedora
  packaging/repoconfig/netdata-edge.repo.suse
  packaging/repoconfig/netdata-repo.spec
  packaging/repoconfig/netdata.list.in
  packaging/repoconfig/netdata.repo.centos
  packaging/repoconfig/netdata.repo.fedora
  packaging/repoconfig/netdata.repo.suse
Labels: area/packaging

Use base images instead of dedicated package builders.
  .github/workflows/repoconfig-packages.yml
Labels: area/ci

Fix boolean value for ProtectControlGroups
  system/netdata.service.in
Labels: area/packaging

Don0t prompt during DEB package builds.
  packaging/repoconfig/build-deb.sh
Labels: area/packaging

Fix typos.
  packaging/repoconfig/debian/rules
Labels: area/packaging

Added ARM binary package builds to CI.
  .github/workflows/packaging.yml
Labels: area/ci

Add Fedora 34 32-bit ARM package build.
  .github/workflows/packaging.yml
Labels: area/ci

Update cmake options for LWS.
  packaging/bundle-lws.sh
Labels: area/packaging

Tidy-up workflow so it runs faster.
  .github/workflows/packaging.yml
Labels: area/ci

Package build process tweaks.
  .github/workflows/docker.yml
  .github/workflows/packaging.yml
Labels: area/ci

Add Debian 11 (Bullseye) to CI.
  .github/workflows/build-and-install.yml
  .github/workflows/packaging.yml
  .github/workflows/updater.yml
Labels: area/ci

Fix handling of Debian 11 package builds.
  .github/workflows/packaging.yml
  packaging/Dockerfile.packager
Labels: area/ci, area/packaging

Use correct Docker image for Debian 11.
  .github/workflows/build-and-install.yml
  .github/workflows/updater.yml
Labels: area/ci

Fix build dependencies for Debian 11.
  contrib/debian/control.xenial
Labels: area/packaging

.github/labeler.yml:

# This configures label matching for PR's.
#
# The keys are labels, and the values are lists of minimatch patterns
# to which those labels apply.
#
# NOTE: This can only add labels, not remove them.
# NOTE: Due to YAML syntax limitations, patterns or labels which start
# with a character that is part of the standard YAML syntax must be
# quoted.
#
# Please keep the labels sorted and deduplicated.

ACLK:
  - src/aclk/*
  - src/aclk/**/*

area/backends:
  - src/backends/*
  - src/backends/**/*

area/exporting:
  - src/exporting/*
  - src/exporting/**/*

area/build:
  - build/*
  - build/**/*
  - build_external/*
  - build_external/**/*
  - CMakeLists.txt
  - configure.ac
  - Makefile.am
  - "**/Makefile.am"

area/ci:
  - .travis/*
  - .travis/**/*
  - .github/*
  - .github/**/*

area/collectors:
  - src/collectors/*
  - src/collectors/**/*

area/daemon:
  - src/daemon/*
  - src/daemon/**/*

area/database:
  - src/database/*
  - src/database/**/*

area/docs:
  - "**/*.md"
  - diagrams/*
  - diagrams/**/*

area/external/python:
  - src/collectors/python.d.plugin/*
  - src/collectors/python.d.plugin/**/*

area/external:
  - src/collectors/charts.d.plugin/*
  - src/collectors/charts.d.plugin/**/*
  - src/collectors/node.d.plugin/*
  - src/collectors/node.d.plugin/**/*

area/health:
  - src/health/*
  - src/health/**/*

area/packaging:
  - contrib/*
  - contrib/**/*
  - packaging/*
  - packaging/**/*
  - system/*
  - system/**/*
  - Dockerfile*
  - netdata-installer.sh
  - netdata.spec.in

area/registry:
  - src/registry/*
  - src/registry/**/*

area/streaming:
  - src/streaming/*
  - src/streaming/**/*

area/tests:
  - tests/*
  - tests/**/*
  - daemon/unit_test*
  - coverity-scan.sh
  - cppcheck.sh
  - netdata.cppcheck

area/web:
  - src/web/*
  - src/web/**/*
